
body {
		margin: 0;
		height: 100vh;
		background: #222;
		overflow: hidden;
		font-family: Arial, sans-serif;
		color: white;
	}
	html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

	#balance, #result {
		font-size: 64px;
		margin: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#circle {
		width: 80px;
		height: 80px;
		background: red;
		border-radius: 50%;
		position: fixed;
		cursor: pointer;
		padding: 20px;
	    box-sizing: border-box;
	    touch-action: none;
	}

	button {
		margin: 5px;
		padding: 10px;
		font-size: 32px;
		cursor: pointer;
		background-color: ff0000;
		border-radius: 12px;
	}
	button :hover{
		background-color: c90000;

	}
	.casino {
		display: flex;
		justify-content: center;
		align-items: center;

	}
	@media (max-width: 599px) {
	#balance, #result {
		font-size: 24px;
	}
	button {
		font-size: 18px;
		padding: 6px 12px;
	}
}