body {
	font-size: 30px;
body {
		margin: 0;
		height: 100vh;
		background: #222;
		overflow: hidden;
		font-family: Arial, sans-serif;
		color: white;
	}
	#balance, #result {
		font-size: 20px;
		margin: 10px;
	}
	#circle {
		width: 50px;
		height: 50px;
		background: red;
		border-radius: 50%;
		position: absolute;
		cursor: pointer;
	}
	button {
		margin: 5px;
		padding: 10px;
		font-size: 16px;
		cursor: pointer;
		background: red;
		border-radius: 6px;
	}
	.casino {
		display: flex;
		justify-content: center;
		align-items: center;
	}